.child1{
    position: sticky;
    background-color: rgb(13, 13, 13);
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
.child2{
    background-color: lightseagreen;
    height: 30px;
    margin: 20px;
    padding: 10px;
}

.child3{

    background-color: rgb(197, 198, 196);
    height: 100px;
    width: 200px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
}

.child4{
    position: relative;
    top: 20px;
    background-color: rgb(210, 255, 182);
    height: 100px;
    width: 200px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(89, 71, 252);
}

.child5{
    position: fixed;
    font-size: 10px;
    display: flex;
    bottom: 50px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    background-color: rgb(255, 182, 197);
    align-items: center;
    justify-content: center;
}