.parent{
    width: 300px;
    background-color: aliceblue;
    margin: auto;
    border: 2px light rgb(68, 62, 62);
    padding: 20px;
}

.f1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.f2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(11, 209, 249);
    font-size: 16px;
}

.p1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.f3{
    margin-right: 30px;
    color: rgb(27, 228, 50);
}

.f4{
    margin-right: 30px;
    color: rgb(27, 228, 50);
}

.p2{
    color: black;
}

.p3{
    color: black;
}

.p4{
    color: black;
}

.f5{
    color: rgb(27, 228, 50);
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(97, 228, 238);
}

