/* *{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: aquamarine;
} */
#one{
    color:rgb(10, 148, 13);
    text-align: center;
}

.two{
    color:rgb(255, 0, 0);
    text-align: center;
}
/* h1{
    color: blue !important;
} */
/* p{
    color: green !important;
} */
.box1{
    background-color: rgb(107, 249, 5);
    width: 200px;
    height: 200px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2{
    background-color: blue;
    width: 50%;
    height: 50%;
    /* justify-content: center;
    align-items: center;
    display: flex; */

}
.hello{
    font-size: 16px;

}

.hye{
    font-size: 1rim;
}

.d1{
    background-color: rgb(9, 212, 239);
    width: 200px;
    height: 200px;
    border-color: black;
}

.d2{
    background-color: rgb(255, 40, 69);
    width: 200px;
    height: 200px;
    border-color: black;
}

.p1{
    font-size: 30px;
}
.p2{
    font-size: 25px;
}
.p3{
    font-size: 21px;
}
.p4{
    font-size: 18px;
}

.d3{
    background-color: rgb(123, 126, 110);
    width: 200px;
    border-color: black;
    margin: 20px;
    border: 15px solid rgb(65, 250, 74);
    padding: 20%;
    content: normal;
}